body {
  font-family: 'Teko', sans-serif;
  background-color: #123456;
  text-align: center;
}
ul {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: red;
}
a:hover {
  padding: 5px;
  background-color: mediumaquamarine;
  color: pink;
}
article {
  display: flex;
  flex-wrap: wrap;
}
section {
  padding: 25px;
}
img {
  height: inherit;
  width: inherit;
}
.image-container {
  display: flex;
  /* flex-direction: row; */
  flex-flow: row wrap;
  /* border: red 2px solid; */
}
.card {
 border: 2px red solid;
 padding: 20px;
 margin: 25px;
 height: 400px; 
}
.card h2 {
  text-align: center;
  background-color: mediumaquamarine;
}
footer {
  padding: 20px;
}
.people-container {
  column-count: 5;
  margin: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-around;
}
.people-card {
  box-shadow:5px 10px turquoise;
  border-radius: 15%;
  padding: 20px;
  margin: 25px;
  width: 300px;
  border: 2px solid maroon;
}
.people-card p {
  color: blueviolet;
  font-size: 18px;
  font-weight: 400;
}
